* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
nav, body, aside, section, footer {
    padding: 10px;
    color: hsl(0, 0%, 0%); 
    font-family: Georgia, Times, 'Times New Roman', serif; 
    font: 100 italic 12pt georgia; 
}
body {
    background-image: linear-gradient(180deg, #a1ac98, #9ba196, #878a79, #88927f, #666d60);
    
}
header {
    background-image: linear-gradient(-120deg, #878887, #a1b88f, #676e61);
    text-align: center;
}
.header {
    max-width: 100%;
    width: 2000px; 
    height: 125px;        
    object-fit: cover;
}
div {
    padding: 20px;
}
nav {
    max-width: 100%;
    height: auto;
}
.banner {
    max-width: 100%;
    height: 35px;        
}
.banner:hover {
    background-color: rgb(228, 204, 69);
}
.navigation {
    width: 200px;
    margin-left: 0px;
    margin-top: 0px;
    list-style: none;
    
}
.navigation a:link {
    color:rgb(1, 0, 0);
    text-decoration: none;
}
.navigation a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navigation a:hover {
    color:rgb(38, 70, 100);
    text-decoration: underline;
}
.navigation a:active {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
section {
    background-image: linear-gradient(120deg, #70756b, #9aaa8b, #535a4f);
    text-align: center;
} 
.product {
    max-width: 100%;
    max-height: 100px;
}
.product:hover {
    filter: opacity(1%);
    -webkit-filter: blur(1px);
}
table {
    margin: 20px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #607259;
    width: 1100px;
}
td:hover {
    background-color: rgb(201, 145, 42);
}
.fairtrade {
    max-width: 100%;
    max-height: 100px;
}
.video-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    width: 100%;
}
.video-container iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
footer {
    background-image: linear-gradient(60deg, #737a70, #4f584b);
    max-width: 100%; height: auto;
} 
.pot {
    max-width: 100%;
    max-height: 50px;
}
h1 {
    padding-top: 10px;
}
p {
    margin-left: 20px;
    margin-right: 20px;
}