* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
nav, body, aside, section, footer {
    padding: 15px;
    color: hsl(0, 0%, 0%); 
    font-family: Georgia, Times, 'Times New Roman', serif; 
    font: 100 italic bold 12pt georgia; 
}
body {
    background-color: #b6bfae;
}
header {
    background-color: #A7B99E;
    text-align: center;
}
.header {
    max-width: 100%;
}
div {
    padding: 20px;
}
nav {
    max-width: 15%;
}
.banner {
    max-width: 100%;
    max-height: 35px;
}
.navigation {
    width: 200px;
    margin-left: 0px;
    margin-top: 0px;
    list-style: none;
}
.navigation a:link {
    color:rgb(1, 0, 0);
    text-decoration: none;
}
.navigation a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navigation a:hover {
    color:rgb(82, 60, 18);
    text-decoration: underline;
}
.navigation a:active {
    color:rgb(165, 0, 0);
    text-decoration: none;
}
section {
    background-color: #A7B99E; 
    text-align: center;
} 
.product {
    max-width: 100%;
    max-height: 100px;
}
.product:hover {
    filter:(1px);
  -webkit-filter: blur(1px);
}
.fairtrade {
    max-width: 100%;
    max-height: 100px;
}
.video-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    width: 100%;
  }
  .video-container iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
footer {
    background-color: #94a58c;
    max-width: 100%; height: auto;
} 
.pot {
    max-width: 100%;
    max-height: 50px;
}
h1 {
    padding-top: 10px;
}
p {
    margin-left: 20px;
    margin-right: 20px;
}